@import url('https://fonts.googleapis.com/css2?família=Urbanista:wght@600&display=swap');
*{
    font-family:'Urbanista', sans-serif;
    margin:10px;
    padding:0;
    background-color: rgb(0, 0, 0);
}
h1{
    color: #B1ED71;
    font-size: 35px; 
    text-align: center;
}
h2{
    color:#B1ED71;
}
p{
    color:rgb(255, 255, 255);
    font-size: 20px;  
}
.div1{
 border-style:solid ;
 border-color: #a8e468;
 padding: 17px;
 margin: 17px;
 font-size: 19px; 
}  
ul{
    color:beige;
    border-style:solid ;
    border-color: #a8e468;
    padding:15px ;
    margin: 15px;  
    font-size: 19px; 
}
.div2{
    border-style:solid ;
    border-color: #a8e468;
    padding:15px ;
    margin: 15px;
    font-size: 19px; 
   }  