@import url('https://fonts.googleapis.com/css2?família=Urbanista:wght@600&display=swap');
body{
    font-family:'Urbanista', sans-serif;
    background-image: linear-gradient(45deg,#0f253a, #52e68a);
}
.div{
    background-color: rgba(55, 56, 58, 0.9);
    color:rgb(153, 235, 150);
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    padding: 80px;
    border-radius: 16px;
    
}
#p{
    color:rgb(255, 255, 255);
    font-size: 18px;
}
.gabi{
    font-size:16px;
    margin: 0 auto;
    color:rgb(170, 245, 255);
}
.paola{
    font-size:16px;
    margin: 0 auto;  
    color:rgb(245, 137, 255)
}
.jorge{
    font-size:16px;
    margin: 0 auto; 
}